/****************SELECTORS***************/
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 3% auto 0;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color: #439A97;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: normal;
    color: #439A97;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    text-align: center;
    color: #EAF6F6;
    margin: 70px auto;
    width: 5%;
    border-top: 7px dotted;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.top-container {
    background-color: #EAFDFC;
    position: relative;
    padding-top: 6.25rem;
}

.cloud-1 {
    position: absolute;
    top: 3.125rem;
    right: 18.75rem;
}

.cloud-2 {
    position: absolute;
    left: 18.75rem;
    bottom: 18.75rem;
}


.skill-row {
    margin: 100px auto 100px;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.desc-link {
   text-decoration: none;
   color: #11999E;
}

.skills-pic-1 {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skills-pic-2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}


.contact-me {
    line-height: 2;
    margin-bottom: 80px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }


.bottom-container {
    background-color: #66BFBF;
    padding: 30px;
    margin-bottom: 0;
}

.footer-link {
    color: #11999E;
    padding: 20px;
    text-decoration: none;
}

a:hover {
   color: #BFEAF5; 
}


#profile {
    border-radius: 50%;
    height: 15%;
    width: 15%; 
    padding-top: 50px;
}

#footer-bye {
    color: #EAF6F6;
    padding-top: 20px;
    font-size: x-small;
}